{% extends "admin/index.html" %}
{% load i18n static %}

{% block content %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total Courses</span>
                <span class="info-box-number">{{ total_courses }}</span>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-chalkboard-teacher"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total Instructors</span>
                <span class="info-box-number">{{ total_instructors }}</span>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clock"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total Timetables</span>
                <span class="info-box-number">{{ total_timetables }}</span>
            </div>
        </div>
    </div>
</div>

{{ block.super }}
{% endblock %} 